{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Redressal Program</title>
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    
</head>
<body>
<section class="Sub-header">
    <nav>
        <a><img src="{% static 'images/logo (1).png' %}"></a>
        <div class="nav-links">
        <i class="fa fa-times" ></i>
        <ul>
            <li><a href="{% url 'aboutuspage' %}">ABOUT</a></li>
            <li><a href="{% url 'contactuspage' %}">CONTACT</a></li>
        </ul>
        </div>
        <i class="fa fa-bars"></i>
    </nav>
<h1>student Login</h1>
</section>

  <!------- Student Register & Login ------------>

  <section class="Faculty-login">
    <div class="container">
        <div class="cover">
          <div class="front">
            <img src="{% static 'images/banner2.jpg' %} ">
            <div class="text">
              <span class="text-1">Welcome!<br> To StuPortal</span>
              <span class="text-2">For Faculty</span>
            </div>
          </div>
          
          <div class="back">
            <img class="backImg" src="{% static 'images/NHITM.jpg' %}">
            <div class="text">
              <span class="text-1">Just a step away</span>
              <span class="text-2">Let's get started</span>
            </div>
          </div>
        </div>
        <div class="forms">
            <div class="form-content">
              <div class="login-form">
                <div class="title">Student Login</div>
              <form action="{% url 'studentloginpage'%}" method="POST">
                {% csrf_token %}
                <div class="input-boxes">
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Enter your email" required>
                  </div>
                  
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your password" required>
                  </div>
                  <div class="text"><a href="#">Forgot password?</a></div>
                  <div>
                    <input type="submit" value="SUBMIT" class="hero-btn red-btn">
                  </div>
                  <div class="text sign-up-text">Don't have an account? <a href="{% url 'studentsignup'%}">Sigup now</a></div>
                </div>
        </div>
        </div>
        </div>
      </div>
    </section>

<!------- Footer ------------>
<section class="footer">
  <h4>About Us</h4>
  <p>A Grievance is any discontent or dissatisfaction, whether expressed or not, 
      whether valid or not, arising out of anything that is <br>directly connected to the institute, 
      and which a student thinks, believes, or even feels, is unfair, unjust or inequitable.</p>
      
      <div class="icons">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter-square"></i>
          <i class="fa fa-linkedin-square"></i>
          <i class="fa fa-instagram"></i>
      </div>
      <p>Made with<i class="fa fa-heart"></i><br>by Team</p>
      <p>COPYRIGHT 2021</p>
</section>

<!-----JavaScript for Toggle Menu----->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200";
    }
  </script>
</body>
</html>